<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" bootstrap="./bootstrap.php" verbose="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="false">
    <include>
      <directory suffix=".php">../src/</directory>
    </include>
    <report>
      <html outputDirectory="../build/coverage"/>
    </report>
  </coverage>
  <testsuite name="PHP Validators Test Suite">
    <directory>./</directory>
  </testsuite>
  <logging/>
</phpunit>
